@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Lato:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: Lato;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    background-image: url("../Assets/backgroundLady.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }

  .layer {
    background-color: rgba(40, 167, 69, 0.7);
    width: 100vw;
    height: 100vh;
  }

  .containermobile {
    background-image: url("../Assets/backgroundladymobile.png");
    background-repeat: no-repeat;
    height: 110%;
    width: 100%;
    margin-top: 1.5rem;
  }

  .layermobile {
    background-color: rgba(40, 167, 69, 0.7);
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
}
